.menuitems{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #919191;
 text-align: center;
 margin-right:0;
 box-shadow: #919191 3px;
 
}
.neologo {
position: relative;
align-self: center;
padding-top:0px;
margin-top: 0px;
width: 200px;
}

